img {
    width: 140px;
    margin: 30px auto;
  }
  
  ion-label {
    font-weight: 400;
  }
  
  ion-input {
    border-bottom: 1px solid;
    border-bottom-color: var(--ion-color-secondary-contrast);
  }
  
  h1 {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2rem;
  }
  
  ion-text {
    font-size: .9rem;
    font-weight: 300;
    line-height: 1.6rem;
  }
  
  ion-button {
    margin: 30px 0 20px 0;
  }
  
  span {
    color: var(--ion-color-primary);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      top:500px;
    }
  
    to {
      opacity: 1;
      top:0;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 3s;
  }
  
  :host {
    ion-item {   
      --highlight-color-invalid: var(--ion-color-primary); // invalid underline color
      --highlight-color-valid: var(--ion-color-primary); // valid underline color
      --highlight-height: 1px;
    }
  }