ion-content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    width: 80%;
    margin: 25px auto;
  }
}

.early-alert {
  font-size: 12px;
}